*{
    padding:0;
    margin:0;
}
header{
    background-color:navy;
    color:white;
    text-align:center;
    padding:5px;
    /*margin:2px;*/
}
#navbar{
    display:flex;
    justify-content:center;
    background-color:aliceblue;
    padding:4px; 
    /*margin:2px;*/  
}
a{
    margin-right:200px;
    text-decoration:none;
    padding:4px;
    text-align:center;
    color:black;
}