*{
    padding:0;
    margin:0;
}
header{
    background-color:navy;
    color:white;
    text-align:center;
    padding:5px;
    
}
body{
background-color:lightpink;
}
p{
    text-align:center;
    font-size:30px;
    margin-top:10px;
    margin-left:80px;
}

#parent{
    background-color:lightpink;
}
#div1{
    margin-top:20px;
    margin-left:40%;
}

#btn1{
    border-radius:10px;
    background-color:black;
    color:white;
    font-size:20px;
    text-align:center;
    height:50px;
    width:100px;
    margin-top:10px;
    margin-left:47%;
}


#div3{
    margin-top:20px;
    margin-left:40%;
}

a:link, a:visited{
    border-radius:10px;
    background-color:black;
    color:white;
    font-size:30px;
    text-align:center;
    align-items:center;
    justify-content:space-around;
    height:45px;
    width:110px;
    text-decoration:none;
    display:inline-block;
    margin-top:20px;
    margin-left:47%;
}
a:hover, a:active{
    background-color:red;
}

#div5{
    margin-top:20px;
    margin-left:40%;
}
#btn3{
    border-radius:10px;
    background-color:black;
    color:white;
    font-size:20px;
    text-align:center;
    height:50px;
    width:100px;
    margin-top:10px;
    margin-left:47%;
}

#div7{
    margin-top:20px;
    margin-left:40%;
}
#btn4{
    border-radius:10px;
    background-color:black;
    color:white;
    font-size:20px;
    text-align:center;
    height:50px;
    width:100px;
    margin-top:10px;
    margin-left:47%;
}

.h5{
    text-align:"center";
    font-size:20px;
    margin-left:40%;
    margin-top:20px;

}

.hbdgif{
    margin-top:20px;
    margin-left:42%;
    border-radius:10px;
}

.chand{
    margin-top:20px;
    margin-left:42%;
}

.iframe{
    margin-top:20px;
    margin-left:42%;
    background-color:rgb(238, 153, 227);
}
table,th,td{
    border:2px solid black;
    border-collapse:collapse;
    margin-top:20px;
    margin-left:40%;
    background-color:rgb(238, 153, 227);
    font-size:18px;
    padding:10px;
    text-align:center;
}
