*{
    padding:0;
    margin:0;
}
header{
    background-color:navy;
    color:white;
    text-align:center;
    padding:5px;
    
}
body{
background-color:lightpink;
}
p{
    text-align:center;
    font-size:30px;
    margin-top:10px;
    margin-left:80px;
}

#parent{
    background-color:lightpink;
}
#div1{
    margin-top:20px;
    margin-left:40%;
}

#div3{
    margin-top:20px;
    margin-left:40%;
}

.a1:link, .a1:visited{
    border-radius:10px;
    background-color:black;
    color:white;
    font-size:30px;
    text-align:center;
    align-items:center;
    justify-content:space-around;
    height:45px;
    width:110px;
    text-decoration:none;
    display:inline-block;
    margin-top:20px;
    margin-left:47%;
}
.a1:hover, .a1:active{
    background-color:red;
}

#div5{
    margin-top:20px;
    margin-left:40%;
}

#div7{
    margin-top:20px;
    margin-left:40%;
}

.h5{
    text-align:"center";
    font-size:20px;
    margin-left:40%;
    margin-top:20px;

}

.hbdgif{
    margin-top:20px;
    margin-left:42%;
    border-radius:10px;
}

.chand{
    margin-top:20px;
    margin-left:42%;
}

.iframe{
    margin-top:20px;
    margin-left:42%;
    background-color:rgb(110, 247, 110);
}
.iframe1{
    margin-top:20px;
    margin-left:42%;
    background-color:rgb(238, 153, 227);
}

.tables{
    display:flex;
    gap:100px;
    justify-content:center;
    margin-top:40px;
}

.External{
    border-collapse:collapse;
    border:2px dotted black;
    border-collapse:collapse;
    background-color:rgb(247, 144, 233);
    font-size:18px;
    padding:10px;
    text-align:center;
}
.External th{
    background-color:rgb(243, 97, 199);
}
.cap{
    font-size:25px;
}

.form1{
    margin-top:30px;
    margin-left:45%;
}