*{
    padding:0;
    margin:0;
}
header{
    background-color:navy;
    color:white;
    text-align:center;
    padding:5px;
    
}
body{
background-color:lightpink;
}
p{
    text-align:center;
    font-size:30px;
    margin-top:10px;
    margin-left:80px;
}

#parent{
    background-color:lightpink;
}
#div1{
    margin-top:20px;
    margin-left:40%;
}
#btn1{
    border-radius:10px;
    background-color:black;
    color:white;
    font-size:20px;
    text-align:center;
    height:50px;
    width:100px;
    margin-top:10px;
    margin-left:47%;
}
/*.drop1{
    display:none;
    position:absolute;
    background-color:#f0f9f9;
    min-width:160px;
    box-shadow:0px 8px 16px rgba(0,0,0,0.2);
    z-index:1;
}*/

#div3{
    margin-top:20px;
    margin-left:40%;
}
#btn2{
    border-radius:20px;
    background-color:black;
    color:white;
    font-size:20px;
    text-align:center;
    height:50px;
    width:100px;
    margin-top:10px;
    margin-left:47%;
}

#div5{
    margin-top:20px;
    margin-left:40%;
}
#btn3{
    border-radius:10px;
    background-color:black;
    color:white;
    font-size:20px;
    text-align:center;
    height:50px;
    width:100px;
    margin-top:10px;
    margin-left:47%;
}

#div7{
    margin-top:20px;
    margin-left:40%;
}
#btn4{
    border-radius:10px;
    background-color:black;
    color:white;
    font-size:20px;
    text-align:center;
    height:50px;
    width:100px;
    margin-top:10px;
    margin-left:47%;
}

.h5{
    text-align:"center";
    font-size:20px;
    margin-left:40%;
    margin-top:20px;

}


